body, html {
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #333;
}

.button-container {
  text-align: right;
  margin-right: 20px;
}

.menu-button-left {
  text-align: left;
    margin-left: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Containers */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.form-form h2 {
  text-align: center;
}

.form-form-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #555;
  transition: 0.3s ease;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000;
  font-size: 12px;
}